# BEGIN YOURLS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Try /github/<request> before YOURLS handles unknown shortlinks.
RewriteCond %{REQUEST_URI} !^/github/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/github%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}/github%{REQUEST_URI} -d
RewriteRule ^(.+?)/?$ /github/$1 [L]

# YOURLS default handler.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /yourls-loader.php [L]

</IfModule>
# END YOURLS

ErrorDocument 404 /smart-404.php

AddType text/vcard .vcf
